@font-face {
  font-family: 'Danjo-bold-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/

/*    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));*/
/*    --secondary-glow: linear-gradient(*/
/*      to bottom right,*/
/*      rgba(1, 65, 255, 0),*/
/*      rgba(1, 65, 255, 0),*/
/*      rgba(1, 65, 255, 0.3)*/
/*    );*/

/*    --tile-start-rgb: 2, 13, 46;*/
/*    --tile-end-rgb: 2, 5, 19;*/
/*    --tile-border: conic-gradient(*/
/*      #ffffff80,*/
/*      #ffffff40,*/
/*      #ffffff30,*/
/*      #ffffff20,*/
/*      #ffffff10,*/
/*      #ffffff10,*/
/*      #ffffff80*/
/*    );*/

/*    --callout-rgb: 20, 20, 20;*/
/*    --callout-border-rgb: 108, 108, 108;*/
/*    --card-rgb: 100, 100, 100;*/
/*    --card-border-rgb: 200, 200, 200;*/
/*  }*/
/*}*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}

.fn-app {
  background-color: #254b25;
  height: 100vh;
}

.fn-title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fn-title {
  margin-top: 10px;
  font-family: 'Danjo-bold-Regular';
  color: #eac54a;
  font-size: 50px;
  letter-spacing: -2.5px;
  text-shadow: 5px 5px 5px #1e461e;
}

.fn-sub-title {
  margin-top: 70px;
  font-family: 'Danjo-bold-Regular';
  color: #439643;
  font-size: 20px;
  letter-spacing: -1.5px;
  text-shadow: 3px 3px 3px #184418;
}

.fn-content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fn-content-section {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fn-btn {
  width: 420px;
  height: 45px;
  font-family: 'Danjo-bold-Regular';
  color: #6c866c;
  font-size: 20px;
  letter-spacing: -1.5px;
  background-color: #254b25;
  border: solid 1px #6c866c;
  border-radius: 6px;
  box-shadow: 0 0 10px #1e461e;
}

.fn-btn:hover {
  color: #eac54a;
  border: solid 1px #eac54a;
}

.fn-card {
  width: 110px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px #134013;
}

.fn-choose-card {
  font-family: 'Danjo-bold-Regular';
  color: #6c866c;
  font-size: 20px;
  letter-spacing: -1.5px;
}

.fn-card-align {
  width: 40%;
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.fn-card-name {
  font-family: 'Danjo-bold-Regular';
  color: #6c866c;
  font-size: 18px;
  letter-spacing: -1.5px;
  text-align: center;
  margin-top: 5px;
}

.fn-start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fn-card-start {
  margin-top: 30px;
  width: 150px;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #134013;
}

.fn-ai-contents {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fn-btn-aria {
  display: flex;
  flex-direction: row;
}

.fn-bottom-btn {
  width: 360px;
  height: 45px;
  font-family: 'Danjo-bold-Regular';
  color: #6c866c;
  font-size: 20px;
  letter-spacing: -1.5px;
  background-color: #254b25;
  border: solid 1px #6c866c;
  border-radius: 6px;
  box-shadow: 0 0 10px #1e461e;
  margin-left: 10px;
}

.fn-bottom-btn:hover {
  color: #eac54a;
  border: solid 1px #eac54a;
}

.fn-ai-answer {
  margin: 25px;
  color: #9fb89f;
  font-size: 18px;
  letter-spacing: -0.5px;
  font-weight: bold;
  line-height: 30px;
}